.badge-fire{
    background-color: #F08030;
}

.badge-water{
    background-color: #6890F0;
}

.badge-grass{
    background-color: #78C850;
}

.badge-poison{
    background-color: #A040A0;
}

.badge-electric{
    background-color: #F8D030;
}