.badge-bug {
    background-color: #A8B820;
}

.badge-dark {
    background-color: #705848;
}

.badge-dragon {
    background-color: #7038F8;
}

.badge-electric {
    background-color: #F8D030;
}

.badge-fairy {
    background-color: #EE99AC;
}

.badge-fire {
    background-color: #F08030;
}

.badge-fighting {
    background-color: #C03028;
}

.badge-flying {
    background-color: #A890F0;
}

.badge-ghost {
    background-color: #705898;
}

.badge-grass {
    background-color: #78C850;
}

.badge-ground {
    background-color: #E0C068;
}

.badge-ice {
    background-color: #98D8D8;
}

.badge-normal {
    background-color: #A8A878;
}

.badge-poison {
    background-color: #A040A0;
}

.badge-psychic {
    background-color: #F85888;
}

.badge-rock {
    background-color: #B8A038;
}

.badge-steel {
    background-color: #B8B8D0;
}

.badge-water {
    background-color: #6890F0;
}

.title {
    text-transform: capitalize;
}

.stat- {
    width: 500px;
}

.stat-value {
    width: 10px;
}

.stat-name {
    width: 50px;
    text-transform: capitalize;
}

.bg-rank-1 {
    background-color:rgba(236, 78, 78, 0.911)
}

.bg-rank-2 {
    background-color: orange
}

.bg-rank-3 {
    background-color: yellow
}

.bg-rank-4 {
    background-color: lightgreen
}

.bg-rank-5 {
    background-color : rgb(74, 202, 74)
}

.bg-rank-6 {
    background-color : turquoise
}